*.aps
*.cache
*.db
*.db-shm
*.db-wal
*.exe
*.idb
*.i
*.ilk
*.iobj
*.ipch
*.ipdb
*.lib
*.obj
*.opendb
*.opensdf
*.sdf
*.suo
*.pch
*.pdb
*.tlog
*.log
*.bin
*.vsidx
*.lock
bin
bin32
/build/
.hg/
.vs/*
examples/SimpleViewerExampleQt/dumpEntity.ifc
examples/SimpleViewerExampleQt/SimpleWall.ifc
examples/SimpleViewerExampleQt/GeneratedFiles/
examples/SimpleViewerExampleQt/dump_mesh_debug.txt
external/Carve/build/
examples/CreateIfcWallAndWriteFile/x64/
examples/CreateIfcWallAndWriteFile/SimpleWall.ifc
examples/LoadFileWithGeometryExampleConsole/dump_mesh_debug.txt
IfcPlusPlus/src/ifcpp-/
IfcPlusPlus/src/ifcpp--/
IfcPlusPlus/src/ifcpp---/
IfcPlusPlus/src/ifcpp----/
examples/LoadFileExample/dump_mesh_debug.txt
examples/CreateIfcWallAndWriteFile/example.ifc
examples/SimpleViewerExampleQt/SimpleViewerExampleQt.vcxproj.user
examples/SimpleViewerExampleQt/SimpleViewerExampleQt.vcxproj.user
examples/SimpleViewerExampleQt/.vs/SimpleViewerExampleQt/v17/DocumentLayout.json
examples/LoadFileExample/.vs/LoadFileExample/v17/DocumentLayout.json
examples/SimpleViewerExampleQt2/
examples/SimpleViewerExampleQt/.vs/
