bin
bin32
/SimpleViewerExample/GeneratedFiles

*.sdf
SimpleViewerExample/dump_mesh_debug.txt
*.opensdf
/build/
/.vs/IfcPlusPlus/v15
/examples/SimpleViewerExampleQt/.vs/SimpleViewerExampleQt/v15/*.db
/examples/SimpleViewerExampleQt/.vs/SimpleViewerExampleQt/v15/*.suo
/examples/SimpleViewerExampleQt/.vs/SimpleViewerExampleQt/v15/ipch/AutoPCH/1cdd5b11e3c0dce9/*.ipch
/examples/SimpleViewerExampleQt/.vs/SimpleViewerExampleQt/v15/*.opendb
*.ipch
external/Carve/.vs/Carve/v15/.suo
external/Carve/.vs/Carve/v15/Browse.VC.db
examples/SimpleViewerExampleQt/dump_mesh_debug.txt
*.db
examples/SimpleViewerExampleMFC/.vs/SimpleViewerExampleMFC/v15/.suo
*.tlog
*.log
*.idb
*.pdb
*.opendb
examples/SimpleViewerExampleMFC/.vs/IfcQueryViewer/v15/.suo
*.exe
*.aps
*.obj
*.suo
*.i
.hg/
*.iobj
*.ipdb
*.pch
*.lib
*.cache
