*.aps
*.cache
*.db
*.db-shm
*.db-wal
*.exe
*.idb
*.i
*.ilk
*.iobj
*.ipch
*.ipdb
*.lib
*.obj
*.opendb
*.opensdf
*.sdf
*.suo
*.pch
*.pdb
*.tlog
*.log
*.bin
*.vsidx
*.lock
bin
bin32
/build/
.hg/
examples/SimpleViewerExampleQt/dumpEntity.ifc
examples/SimpleViewerExampleQt/SimpleWall.ifc
examples/SimpleViewerExampleQt/GeneratedFiles/
examples/SimpleViewerExampleQt/dump_mesh_debug.txt
external/Carve/build/
examples/CreateIfcWallAndWriteFile/x64/
examples/CreateIfcWallAndWriteFile/SimpleWall.ifc
examples/LoadFileWithGeometryExampleConsole/dump_mesh_debug.txt
IfcPlusPlus-*
IfcPlusPlus/src/ifcpp/geometry/Carve - Copy/
IfcPlusPlus/src/ifcpp-
IfcPlusPlus/src/ifcpp--
IfcPlusPlus/src/ifcpp---/
IfcPlusPlus/src/ifcpp----/
examples/LoadFileExample/dump_mesh_debug.txt
examples/CreateIfcWallAndWriteFile/example.ifc
*.vcxproj.user
.vs/
examples/SimpleViewerExampleQt2/
